<div class="administrador">

    <h1 class="titulo">Contacato</h1>
    <form class="main-form" >
        <label >
            Nombre
            <input class = "control" type="text" name="nombre">
        </label>
        <label >
            Correo
            <input class="control" type="text" name="correo">
        </label>
        <label >
            Telefono
            <input class="control" type="number" name= "telefono">
        </label>
        <label>
            Mensaje
            <input class="control" type="text" name= "mensaje">
        </label>
        <input class="boton" type="submit" value="Enviar">
    </form>
    
</div>