
 <footer>
    <div class="contenedor">
        <div class="caja">

            <div class="caja-foot">
                <h5 class="titulo-foter">Paginas</h5>
                <div class="divider"></div>
                <div class="flex">

                    <div class="caja-fotter">
                        <ul class="ul-fotter">
                            <li><a href="#" class="link-fotter">Inicio</a></li>
                            <li><a href="#" class="link-fotter">Productos</a></li>
                            <li><a href="#" class="link-fotter">Acerca de</a></li>
                        </ul>
                    </div>
                    <div class="caja-fotter">
                        <ul class="ul-fotter">
                            <li><a href="#" class="link-fotter">Tienda online</a></li>
                            <li><a href="#" class="link-fotter">Contactos</a></li>                        
                        </ul>
                    </div>
                </div>                        
            </div>
            <div class="caja-foot">
                <h5 class="titulo-foter">Descripcion</h5>
                <div class="divider"></div>
                <p class="p-fotter">Nuestra tienda es más que un minorista promedio de lencería en línea. No solo vendemos productos de alta calidad, sino que también ofrecemos a nuestros clientes una experiencia de compra online positiva.</p>
            </div>
            <div class="caja-foot">
                <h5 class="titulo-foter">Seguinos</h5>
                <div class="divider">
                </div>
                <a href="https://m.facebook.com/profile.php?id=382777725894098&ref=content_filter"><i class="fab fa-facebook icon"></i></a>
                <a href="https://www.instagram.com/nebrasshka.intimates/"><i class="fab fa-instagram icon"></i></a>
    
            </div>
        </div>

    </div>
</footer>