<main>
    <section>
        <div class="contenedor contenedor-seccion">
            <div class="box1">
                <div class="box-img"><img src="img/hoja.png" class="img" alt="Imagen de decoracion de una hoja"></div>
                <div class="box-img box-img2"><img src="img/conjunto.png" class="img" alt="Imagen de decoracion de un conjunto"></div>
                <div class="box-img"><img src="img/hoja2png.png" class="img" alt="Imagen de decoracion de una hoja"></div>
            </div> 
    
            <div class="box2 color-box2">
                <div class="card-box2">
                    <h3 class="titulo-box">¿Quienes somos?</h1>
                    <p class="parrafo-box">                        
                        Somos un emprendimiento joven, con estusciasmo, que tiene como valor principal la comodidad de la mujer a la hora de ponerse ropa interior. 
                    </p>
                    <a href="#" class="btn">Ver mas</a>
                </div>
            </div>  
            
        </div>     
    </section> 

    <section>
        <div class="contenedor contenedor-seccion1">

            <div class="box2">
                <div class="card-box2 card-box2-pad">
                    <h3 class="titulo-box">Nuestros productos</h1>
                    <p class="parrafo-box">                        
                        Nuestros productos son diseñado y elavorados artesanalmente. A menudo proporcionamos diferentes promociones y puede obtener un buen beneficio.
                    </p>
                    <p><a href="#" class="btn">Ver mas</a></p>
                </div>
            </div> 
            <div class="box-card">
                <div class="box-card-fila" >
                   
                    <div class="card">
                        <figure><img src="img/tanga.png" alt="Imagen de un logo con una tanga"></figure>                           
                        <p class="link-p"><a href="#" class=" link-card">Ver mas</a></p>
                        <p class="parrafo-card">Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
                    </div>
                
                
                    <div class="card">
                        <figure><img src="img/corpiño.png" alt="Imagen de un logo con un corpiño"></figure>
                        <!-- <h5>Corpiño</h5> -->
                        <p class="link-p"><a href="#" class=" link-card">Ver mas</a></p>
                        <p class="parrafo-card">Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
                    </div>
                   

                </div>
                <div class="box-card-fila" >
                    <div class="card">
                        <figure><img src="img/bombacha.png" alt="Imagen de un logo con una bombacha"></figure>
                        <p class="link-p"><a href="#" class=" link-card">Ver mas</a></p>
                        <p class="parrafo-card">Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
                    </div>
                    
                    <div class="card">
                        <figure><img src="img/corpi2.png" alt="Imagen de un logo de un corpiño"></figure>
                        <p class="link-p"><a href="#" class="link-card">Ver mas</a></p>
                        <p class="parrafo-card">Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
                    </div>
                    

                </div>
            </div>    
                                    
        </div>
    </section>
</main>