<nav class="nav-2"> 

    <div class="nav-mobile">
        <img src="img/NEBRASSHKA.svg" class="img" alt="logo de la empresa" >                    
        <i class="fas fa-bars hamburguesa"></i>            
    </div>  
                     
    <ul class= "menu">
        <li class="nav-menu-item"><a href="/" class="nav-menu-link menu-link">Inicio</a></li>
        <li class="nav-menu-item"><a href="/productos" class="nav-menu-link menu-link">Productos<i class="fas fa-angle-down caret"></i></a>
            <ul class="submenu children">
                <li><a href="/productos" class="submenu-link nav-menu-link">Todos los productos</a></li>
                <li><a href="/bombachas" class="submenu-link nav-menu-link">Bombachas</a></li>
                <li><a href="/conjuntos" class="submenu-link nav-menu-link">Conjuntos</a></li>
                <li><a href="/corpiños" class="submenu-link nav-menu-link">Corpiños</a></li>
            </ul>
        </li>
        <li class="nav-menu-item"><a href="/acercade" class="nav-menu-link menu-link ">Acerca de<i class="fas fa-angle-down caret"></i></a>
            <ul class="submenu children nav-menu">
                <li><a href="/nosotros" class="submenu-link nav-menu-link">Nosotros</a></li>
                <li><a href="/desproduc" class="submenu-link nav-menu-link">Productos</a></li>
                <li><a href="/pago" class="submenu-link nav-menu-link">Medios de pago</a></li>
            </ul>
        </li>
        <li class="nav-menu-item"><img src="img/logo.svg" class="logo" alt="Logo de la empresa"></li>
        <li class="nav-menu-item"><a href="https://nebrasshkaintimates.empretienda.com.ar/" class="nav-menu-link menu-link">Tienda Online</a></li>
        <li class="nav-menu-item"><a href="/contacto" class="nav-menu-link menu-link">Contactos<i class="fas fa-angle-down caret"></i></a>
            <ul class="submenu children nav-menu"> 
                <li><a href="#" class="submenu-link nav-menu-link">11 6606-3170</a></li>                                
            </ul>
        </li>

    </ul>
</nav> 