<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/meta') %>
   
   
    <title><%=title%></title>

</head>
<body>
    <header>
        <%- include('../partials/nav') %>
    </header>
    <section>
        <main class="body-p">
            <div class="contenedor-2">

                <h1 class="title-pro">Nuestros productos</h1>
                <p class="parrafos">
                    Nuestros productos son diseñados y elaborados artesanalmente. A menudo proporcionamos deferentes promociones para que tenga un mejor beneficio.
                </p>
                <h2 class="title-pro">Cuidados</h2>
                
                <ul class="parrafos"> 
                    <li>Lavar la prenda a mano</li>
                    <li>Utilizar jabón blanco para un mejor resultado</li>
                    <li>Evitar lavarropas</li>
                    <li>Evitar centrifugadoras</li>

                </ul>
                    
                
            </div>
            </main>
    </section>
</body>
<%- include('../partials/footer') %>
